{
    "openapi": "3.0.0",
    "info": {
        "title": "Ecommerce API",
        "description": "API completa para el sistema de ecommerce con autenticación, productos, carrito, pedidos, pagos, cupones y más.",
        "contact": {
            "name": "Soporte Técnico",
            "email": "soporte@ecommerce.com"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api/v1/anonymous-cart": {
            "get": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Obtener el carrito anónimo",
                "description": "Obtiene el contenido completo del carrito de compras anónimo",
                "operationId": "c8adc94b789616937049e59c017ec6f3",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Carrito anónimo obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Carrito anónimo obtenido correctamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "nullable": true
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "product": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string",
                                                                        "format": "uuid"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "Producto Ejemplo"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "producto-ejemplo"
                                                                    },
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/image.jpg"
                                                                    },
                                                                    "category": {
                                                                        "type": "string",
                                                                        "example": "Electrónicos"
                                                                    },
                                                                    "brand": {
                                                                        "type": "string",
                                                                        "example": "Marca Ejemplo"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 29.99
                                                            },
                                                            "original_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 39.99,
                                                                "nullable": true
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 59.98
                                                            },
                                                            "savings": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 20
                                                            },
                                                            "has_discount": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "discount_percentage": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 25
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 149.95
                                                },
                                                "total_savings": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session ID requerido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Session ID requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/anonymous-cart/add": {
            "post": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Agregar item al carrito anónimo",
                "description": "Agrega un producto al carrito de compras anónimo",
                "operationId": "88628d1926099832b8412dc767568904",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_id",
                                    "quantity"
                                ],
                                "properties": {
                                    "product_id": {
                                        "description": "ID del producto",
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "quantity": {
                                        "description": "Cantidad a agregar",
                                        "type": "integer",
                                        "minimum": 1,
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Producto agregado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Producto agregado al carrito anónimo correctamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "item": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "product": {
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string",
                                                                    "format": "uuid"
                                                                },
                                                                "name": {
                                                                    "type": "string",
                                                                    "example": "Producto Ejemplo"
                                                                },
                                                                "slug": {
                                                                    "type": "string",
                                                                    "example": "producto-ejemplo"
                                                                },
                                                                "image": {
                                                                    "type": "string",
                                                                    "example": "https://example.com/image.jpg"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "quantity": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 29.99
                                                        },
                                                        "original_price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 39.99,
                                                            "nullable": true
                                                        },
                                                        "subtotal": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 59.98
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "cart_total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "cart_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 149.95
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session ID requerido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Session ID requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/anonymous-cart/items/{itemId}": {
            "put": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Actualizar cantidad de un item en el carrito anónimo",
                "description": "Actualiza la cantidad de un producto específico en el carrito anónimo",
                "operationId": "909dee216b29a1e202a6b39c4838296f",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "ID del item del carrito",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "quantity"
                                ],
                                "properties": {
                                    "quantity": {
                                        "description": "Nueva cantidad (0 para remover)",
                                        "type": "integer",
                                        "minimum": 0,
                                        "example": 3
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cantidad actualizada exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Cantidad actualizada correctamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "cart_total_items": {
                                                    "type": "integer",
                                                    "example": 4
                                                },
                                                "cart_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 119.96
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session ID requerido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Session ID requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrito o item no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Remover item del carrito anónimo",
                "description": "Elimina un producto específico del carrito anónimo",
                "operationId": "7d9461035804450a79d39c90a1769f8f",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    },
                    {
                        "name": "itemId",
                        "in": "path",
                        "description": "ID del item del carrito",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Producto removido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Producto removido del carrito anónimo correctamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "cart_total_items": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "cart_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 89.97
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session ID requerido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Session ID requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Carrito o item no encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/anonymous-cart/clear": {
            "delete": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Limpiar carrito anónimo",
                "description": "Elimina todos los productos del carrito anónimo",
                "operationId": "cef1f8a26c862b29747c8555a39636fa",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Carrito limpiado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Carrito anónimo limpiado correctamente"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Session ID requerido",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Session ID requerido"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/anonymous-cart/count": {
            "get": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Obtener cantidad de items en el carrito anónimo",
                "description": "Obtiene el número total de productos en el carrito anónimo",
                "operationId": "9f670b8a06bb336c27f78d302771c222",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cantidad obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "count": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/anonymous-cart/total": {
            "get": {
                "tags": [
                    "Anonymous Cart"
                ],
                "summary": "Obtener total del carrito anónimo",
                "description": "Obtiene el total monetario y ahorros del carrito anónimo",
                "operationId": "d7a4eb6d7acdf1518965e54a224ca291",
                "parameters": [
                    {
                        "name": "X-Session-ID",
                        "in": "header",
                        "description": "ID de sesión del usuario anónimo",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "session_1234567890"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Total obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 149.95
                                                },
                                                "savings": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 50
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/register": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Registrar nuevo usuario",
                "description": "Crea una nueva cuenta de usuario y retorna un token de autenticación",
                "operationId": "b8abbf73d05171481cb141d1bf12056c",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Nombre completo del usuario",
                                        "type": "string",
                                        "example": "Juan Pérez"
                                    },
                                    "email": {
                                        "description": "Email del usuario",
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan@example.com"
                                    },
                                    "password": {
                                        "description": "Contraseña",
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password_confirmation": {
                                        "description": "Confirmación de contraseña",
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "phone": {
                                        "description": "Teléfono (opcional)",
                                        "type": "string",
                                        "example": "+5491112345678"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuario registrado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "¡Usuario registrado correctamente!"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Juan Pérez"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "juan@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+5491112345678"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/login": {
            "post": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Iniciar sesión",
                "description": "Autentica un usuario y retorna un token de acceso",
                "operationId": "0e326ce09f6496b8aa071164115ce2e0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "description": "Email del usuario",
                                        "type": "string",
                                        "format": "email",
                                        "example": "juan@example.com"
                                    },
                                    "password": {
                                        "description": "Contraseña",
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login exitoso",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "¡Login exitoso!"
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Juan Pérez"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "juan@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+5491112345678"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "token": {
                                                    "type": "string",
                                                    "example": "1|abc123..."
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Credenciales inválidas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/me": {
            "get": {
                "tags": [
                    "Autenticación"
                ],
                "summary": "Obtener perfil del usuario",
                "description": "Retorna la información del usuario autenticado",
                "operationId": "ca96b8331ed79555b759388fae4316e6",
                "responses": {
                    "200": {
                        "description": "Perfil obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Juan Pérez"
                                                        },
                                                        "email": {
                                                            "type": "string",
                                                            "example": "juan@example.com"
                                                        },
                                                        "phone": {
                                                            "type": "string",
                                                            "example": "+5491112345678"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/cart": {
            "get": {
                "tags": [
                    "Carrito"
                ],
                "summary": "Obtener carrito del usuario",
                "description": "Retorna el carrito de compras del usuario autenticado con todos sus items",
                "operationId": "299543e2834f0f740d48dd4129cfb4e6",
                "responses": {
                    "200": {
                        "description": "Carrito obtenido exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Carrito obtenido correctamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid"
                                                },
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "product": {
                                                                "properties": {
                                                                    "id": {
                                                                        "type": "string",
                                                                        "format": "uuid"
                                                                    },
                                                                    "name": {
                                                                        "type": "string",
                                                                        "example": "iPhone 15 Pro"
                                                                    },
                                                                    "slug": {
                                                                        "type": "string",
                                                                        "example": "iphone-15-pro"
                                                                    },
                                                                    "image": {
                                                                        "type": "string",
                                                                        "example": "https://example.com/image.jpg"
                                                                    },
                                                                    "category": {
                                                                        "type": "string",
                                                                        "example": "Electrónicos"
                                                                    },
                                                                    "brand": {
                                                                        "type": "string",
                                                                        "example": "Apple"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "quantity": {
                                                                "type": "integer",
                                                                "example": 2
                                                            },
                                                            "price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 999.99
                                                            },
                                                            "original_price": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1099.99
                                                            },
                                                            "subtotal": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 1999.98
                                                            },
                                                            "savings": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 200
                                                            },
                                                            "has_discount": {
                                                                "type": "boolean",
                                                                "example": true
                                                            },
                                                            "discount_percentage": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 18.18
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "total_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                },
                                                "total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 4999.95
                                                },
                                                "total_savings": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 500
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "No autenticado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/cart/add": {
            "post": {
                "tags": [
                    "Carrito"
                ],
                "summary": "Agregar producto al carrito",
                "description": "Agrega un producto al carrito del usuario autenticado",
                "operationId": "606767b99257c7e36c853b05220d3ac5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "product_id",
                                    "quantity"
                                ],
                                "properties": {
                                    "product_id": {
                                        "description": "ID del producto",
                                        "type": "string",
                                        "format": "uuid",
                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                    },
                                    "quantity": {
                                        "description": "Cantidad a agregar",
                                        "type": "integer",
                                        "example": 2
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Producto agregado exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Producto agregado al carrito"
                                        },
                                        "data": {
                                            "properties": {
                                                "cart_item": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "quantity": {
                                                            "type": "integer",
                                                            "example": 2
                                                        },
                                                        "price": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 999.99
                                                        },
                                                        "subtotal": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 1999.98
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "cart_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 4999.95
                                                },
                                                "cart_items": {
                                                    "type": "integer",
                                                    "example": 5
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Error de validación",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationErrorResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error interno del servidor",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/catalog/category/{slug}": {
            "get": {
                "tags": [
                    "Catálogo"
                ],
                "summary": "Productos por categoría",
                "description": "Obtiene productos filtrados por slug de categoría con opciones de búsqueda y ordenamiento",
                "operationId": "55e40590215646131d12848ba021bead",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug de la categoría",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "electronicos"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Productos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "brand_id",
                        "in": "query",
                        "description": "ID de marca para filtrar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "description": "Precio mínimo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 100
                        }
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "description": "Precio máximo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 1000
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenamiento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "oldest",
                                "price_asc",
                                "price_desc",
                                "name_asc",
                                "name_desc"
                            ],
                            "example": "newest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Productos obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Productos obtenidos exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Electrónicos"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "electronicos"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Productos electrónicos y tecnología"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Product"
                                                    }
                                                },
                                                "pagination": {
                                                    "$ref": "#/components/schemas/PaginationResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/brand/{slug}": {
            "get": {
                "tags": [
                    "Catálogo"
                ],
                "summary": "Productos por marca",
                "description": "Obtiene productos filtrados por slug de marca con opciones de búsqueda y ordenamiento",
                "operationId": "deed795aff103161012bb91bb8754705",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "Slug de la marca",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "apple"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Productos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "ID de categoría para filtrar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "description": "Precio mínimo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 100
                        }
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "description": "Precio máximo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 1000
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenamiento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "oldest",
                                "price_asc",
                                "price_desc",
                                "name_asc",
                                "name_desc"
                            ],
                            "example": "newest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Productos obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Productos obtenidos exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "brand": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Apple"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "apple"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Empresa líder en tecnología"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Product"
                                                    }
                                                },
                                                "pagination": {
                                                    "$ref": "#/components/schemas/PaginationResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Marca no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/catalog/category/{categorySlug}/brand/{brandSlug}": {
            "get": {
                "tags": [
                    "Catálogo"
                ],
                "summary": "Productos por categoría y marca",
                "description": "Obtiene productos filtrados por slug de categoría y marca con opciones de búsqueda y ordenamiento",
                "operationId": "e1290b2537bda94bcbeb7d0ae0a9dbd3",
                "parameters": [
                    {
                        "name": "categorySlug",
                        "in": "path",
                        "description": "Slug de la categoría",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "electronicos"
                        }
                    },
                    {
                        "name": "brandSlug",
                        "in": "path",
                        "description": "Slug de la marca",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "example": "apple"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Número de página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "Productos por página",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 15
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "ID de categoría para filtrar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "brand_id",
                        "in": "query",
                        "description": "ID de marca para filtrar",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "price_min",
                        "in": "query",
                        "description": "Precio mínimo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 100
                        }
                    },
                    {
                        "name": "price_max",
                        "in": "query",
                        "description": "Precio máximo",
                        "required": false,
                        "schema": {
                            "type": "number",
                            "format": "float",
                            "example": 1000
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Ordenamiento",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "newest",
                                "oldest",
                                "price_asc",
                                "price_desc",
                                "name_asc",
                                "name_desc"
                            ],
                            "example": "newest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Productos obtenidos exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Productos obtenidos exitosamente"
                                        },
                                        "data": {
                                            "properties": {
                                                "category": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Electrónicos"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "electronicos"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Productos electrónicos y tecnología"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "brand": {
                                                    "properties": {
                                                        "id": {
                                                            "type": "string",
                                                            "format": "uuid"
                                                        },
                                                        "name": {
                                                            "type": "string",
                                                            "example": "Apple"
                                                        },
                                                        "slug": {
                                                            "type": "string",
                                                            "example": "apple"
                                                        },
                                                        "description": {
                                                            "type": "string",
                                                            "example": "Empresa líder en tecnología"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "products": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Product"
                                                    }
                                                },
                                                "pagination": {
                                                    "$ref": "#/components/schemas/PaginationResponse"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoría o marca no encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/checkout/init": {
            "get": {
                "tags": [
                    "Checkout"
                ],
                "summary": "Iniciar checkout",
                "description": "Obtiene información inicial para el proceso de checkout",
                "operationId": "a370e0aaf88d82c1dd3cdfdb842d2734",
                "responses": {
                    "200": {
                        "description": "Información de checkout obtenida exitosamente",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Información de checkout obtenida"
                                        },
                                        "data": {
                                            "properties": {
                                                "cart": {
                                                    "properties": {
                                                        "total_items": {
                                                            "type": "integer",
                                                            "example": 3
                                                        },
                                                        "subtotal": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 2999.97
                                                        },
                                                        "total": {
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": 2999.97
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "shipping_methods": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "string",
                                                                "format": "uuid"
                                                            },
                                                            "name": {
                                                                "type": "string",
                                                                "example": "Envío Estándar"
                                                            },
                                                            "description": {
                                                                "type": "string",
                                                                "example": "Entrega en 3-5 días hábiles"
                                                            },
                                                            "cost": {
                                                                "type": "number",
                                                                "format": "float",
                                                                "example": 500
                                                            },
                                                            "estimated_days": {
                                                                "type": "integer",
                                                                "example": 5
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
[...]
